body {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.brand-name img {
    height: 50px;
    padding-left: 120px;
}

.brand-name {
    display: flex;
    flex-direction: row;

}
.head-temp{
    position: relative;
}

.temple-card img{
    width: 100%;
    height: 500px;


    
}

.tab-titles {
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #a5a4a4;
    margin: 13px 0;
}


.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display:block;
}

.temple-card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@keyframes anim-lineUp {
    
  }

.temple-card {
    width: 30%;
    box-shadow: 0px 0px 10px 4px #a9a8a8;
    border: 2px solid #a9a8a8;
    background: #FFF;
    margin-bottom: 50px;
    padding-bottom: 15px;
    transition: box-shadow 0.5s;
}
.temple-card:hover{
    box-shadow: 0px 0px 10px 4px #031a44;
}

.temple-card img {
    height: 350px;
    cursor: pointer;
}

.temple-card h2 {
    margin: 10px 5%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.temple-card p {
    margin: 10px 5%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width: 600px) {
    .brand-name img {
        padding-left: 50px;
    }
    
    .tab-titles {
        flex-direction: column;
    }
    .tab-links{
        margin-bottom: 20px;
    }

    .tab-links.active-link::after {
        width: 25%;
    }

    .sub-title {
        font-size: 50px;
    }

    .temple-card {
        width: 95%;
    }
    #changeTajImg{
        height: 300px;
    }
    .imgChange{
        top: 33%;
        left: 37%;
    }
    .imgChange1{
        height: 40px;
        width: 30px;
    }
    #learnMoreTab .infor h2{
        font-size: 20px;
    }
    #learnMoreTab .infor button{
        font-size: 13px;
    }
}
.applycss{
    width:60%;
    height: 30%;
    margin: 10px auto;
    
}
.carousel-caption{
    font-size: 25px;
    font-weight: 800;
  
}
