.volunteer {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: rgba(0, 0, 0, .5);
    background-image: url(../images/volunteer/volunteer.jpg);
}

.volunteer .volunteer-content {
    padding: 30px 0 45px 0;
}

.container .volunteer{
    display: block;
    margin: 0 auto;
}

.container .volunteer .volunteer-content {
    padding: 45px 30px 15px 30px;
}

.volunteer .volunteer-content .section-header {
    margin-bottom: 30px;
}

.volunteer .volunteer-content .section-header h2 {
    color: black;
}

.volunteer .volunteer-text p {
    color:black;
    font-size: 18px;
}

.volunteer .volunteer-form {
    padding: 90px 30px;
    background:white;
}

.volunteer .volunteer-form .control-group {
    margin-bottom: 15px;
}

.volunteer .volunteer-form .form-control {
    height: 60px;
    color:black;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid black;
    background: transparent;
}

.volunteer .volunteer-form textarea.form-control {
    height: 120px;
    padding: 15px;
}

.volunteer .volunteer-form .form-control::placeholder {
    color:black;
    opacity: 1;
}

.volunteer .volunteer-form .form-control:-ms-input-placeholder,
.volunteer .volunteer-form .form-control::-ms-input-placeholder {
    color:black;
}

.volunteer .volunteer-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color:black;
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 black;
}

.volunteer .volunteer-form .btn.btn-custom:hover {
    color:white;
    border: 1px solid black;
    box-shadow: inset 0 0 0 30px black;
}

.map{
    height:500px;
    width: 600px;   
    margin: 10px;
}

@media screen and (max-width:600px){
    .bulb-container{
        width: 80%;
    }

    .map{
        height: 250px;
        width:250px;
    }
}


    
