.each-branch{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    border: #f0c14a 2px solid ;
    margin:30px 400px;
    
    box-shadow:0px 20px 10px 2px rgb(138, 136, 136);
    
}
 .each-branch:hover{
     transform: scale(1.15);
 }
 .map{
     padding:35px 35px;
 }
 .more-details{
    
     text-align: center;
     color: #efa9b1; ;
 }
 .owner-detail{
     margin-left: 50px;
 }
 .contact-visit{
 
     text-align: center;
     color: #8d5353;
 }
 .branch{
     text-align: center;
     color: #f0c14a;
     font-size: 60px;
 }
 .owner-img{
     border-radius: 50%;
     height: 100px;
     margin: 10px;
     margin-left:100px;
 }
 .tel-icon{
     height: 30px;
     margin:5px;
 }
 .wp-icon{
     height: 30px;
     margin:5px;
 }
 .email-icon{
     height: 30px;
     margin:5px;
 }
 .line {
     border: solid;
     color: #131212;
     Position: relative;
     Left: 0Px;
 }
 .owner-name{
     margin:10px;
     font-family: 'Times New Roman', Times, serif;
 }
 .text-decor{
     text-decoration: none;
     font-size: 35px;
     color: #131212;
     margin:5px
 }

 .each-branch1{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    border: #f0c14a 2px solid ;
    margin:30px 400px;
    display: inline-block;
    box-shadow:0px 20px 10px 2px rgb(138, 136, 136);
    
}