.slider-container {
    margin: 10px 0;
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.slider-text h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 0;
}

.slider-text p {
    font-size: 1.2em;

}


.slider-container img {
    display: none;
}


.slider-container img:first-child {
    display: block;
}

.boxes-container {
    display: flex;
    margin: 20px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.box {
    width: calc(33.33% - 10px);
    height: 370px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #f3f2f3;
    border-radius: 20px;
}

.box-content h2 {

    text-align: center;
    margin: 8px 0;
    font-size: 28px;
}

.box:hover {
    /* background-color: #7f248d; */
    color: #fff;
    transition: 0.6s;
}
.box-1:hover{
    background-color: #7f248d; 
}
.box-2:hover{
    background-color: #fbc108; 
    color: black;
}
.box-3:hover{
    background-color: #f1471d; 
}
.box-content{
    padding: 4px 15px;
    text-align: justify;
}
.box-content button{
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px auto;
}


.box-content button {
    background-color: transparent;
    border: 2px solid #28a745; 
    color: #28a745; 
    padding: 10px 20px;
    transition: all 0.3s ease;
}



.slider-container {
    margin: 10px 0;
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.slider-text h1 {
    font-size: 3.5vw; 
    font-weight: 800;
    margin: 0;
}

.slider-text p {
    font-size: 1.2em;
}


.slider-container img {
    display: none;
}

.slider-container img:first-child {
    display: block;
}


.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 10px;
}

.box {
    width: calc(33.33% - 10px);
    height: auto; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #f3f2f3;
    border-radius: 30px;
}

.box-content h2 {
    text-align: center;
    margin: 8px 0;
    font-size: 2.5vw; 
}


.box-content {
    padding: 4px 19px;
    text-align: justify;
}

.box-content button {
    background-color: transparent;
    border: 2px solid #28a745;
    color: #28a745;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.box-big {
    background-color: #f8f9fa;
    padding: 40px; 
    margin: 20px auto; 
    width: 90%; 
    max-width: 1800px; 
    border: 2px solid #fbc108;
}

.box-big .box-big-content {
    margin: 0 auto; 
}

.box-big-content h2{
    color: #7f248d;
    font-size: 35px;
}
.box-big-content span{
    font-weight: 800;
}
.sub-heading{
    color: #1082ce;
    font-size: 25px;
    font-weight: 600;
}
.highlight{
    font-weight: 600;
}


.donation-details {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0 80px;
    text-align: center;
}

.detail {
    flex: 1 1 25%;
    margin: 10px;
    padding: 20px;
   
    border-radius: 10px;
    box-sizing: border-box;
}
.detail h1{
    font-weight: 900;
    color: #fbc108;
}


@media screen and (max-width: 768px) {
    .donation-details{
        display: block;
        
    }
    .detail {
        flex: 1 1 50%; 
        width: 100%;
    }
    
}

@media screen and (max-width: 480px) {
    .detail {
        flex: 1 1 100%; 
        width: 100%;
    }
}




/* Responsive styles */
@media (max-width: 768px) {
    .box {
        width: calc(50% - 10px); 
    }
}

@media (max-width: 576px) {
    .box {
        width: 100%;
    }
}












/* Responsive styles */
@media (max-width: 768px) {
    .box {
        width: calc(90% - 80px);
        
    }
}

@media (max-width: 576px) {
    .box {
        width: 100%;
    }
}


.theme {
    margin-left: 10px;
}

.theme-img {
    height: 30px;
    background-color: white;
    padding: 0.5px;
    border-radius: 50%;
}

.theme-light{
    background-color: white;
}

.theme-dark{
    background-color: black;
    color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 10px;
}

.card {
    box-shadow: 0 0 10px 5px #a3a3a3;
    border: none;
    text-align: center;
    width: 31%;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-size: 20px;
}

.button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

@media screen and (max-width:1100px) and (min-width:700px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 10px 5px #a3a3a3;
        border: none;
        text-align: center;
    }

    .card {
        margin: 10px;
        width: 60%;
    }
}

@media screen and (max-width:700px) and (min-width:460px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 10px 5px #a3a3a3;
        border: none;
        text-align: center;
    }

    .card {
        margin: 10px;
        width: 80%;
    }
}

@media screen and (max-width:460px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 98%;
    }

    .card-text {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }
}

.work-img{
    height: 80px;
    width: 80px;
}

.counter {
    position: relative;
    padding: 100px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/home/counter.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


 /* Card Container Styles */
 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjust as needed */
    margin: 0 auto;
    max-width: 1800px;
    /* Adjust as needed */
}

.main-container{
    margin: 20px 80px;
}
.progress-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Card Styles */
.progress-card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* padding: 20px; */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Progress Bar Styles */
.progress-bar {
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 2px;
    margin: 15px auto;
    overflow: hidden;
}

.progress-bar-fill {
    height: 14px;
    background-color: #fbc108;
    transition: width 0.3s ease-in-out;
    animation: progressAnimation 2s ease-in-out forwards;
    /* Animation added */
}
.progress-button{
    margin: 10px auto;
}
.funded-text{
    font-size: 20px;
    color: black;
    font-weight: 600;
    padding-left: 10px;
}
.main-container h2{
    font-size: 40px;
    color: #7f248d;
    font-weight: 800;
}
.main-container  span{
    color: #1082ce;
    font-size: 36px;
}
.progress-card h3{
    font-size: 23px;
    color:#f1471d;
    font-weight: 700;
    text-align: center;
    margin: 6px 0;
}
.progress-card p{
    margin: 0 10px;
    text-align: justify;
}
/* Keyframe Animation */
@keyframes progressAnimation {
    from {
        width: 0%;
    }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .main-container{
        width: 100%;
        margin: 0;
    }
    .card-container {
        display: block;
    }

    .progress-card {
        width: calc(50% - 20px);
        /* Two cards per row */
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-container{
        width: 100%;
        margin: 0;
    }
    .card-container {
        display: block;
    }

    .progress-card {
        width: 100%;
        width: calc(100% - 20px);
        /* One card per row */
    }
}


.container-star {
    width: 650px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 40px auto;
    padding: 50px 30px;
    border-radius: 30px;
    letter-spacing: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    /* background-color: rgb(2, 2, 58); */
    /* background-color: #7f248d; */
    background-color: #f7f6f6;
    color: black;
}

.container-star h2 {
    font-size: 25px;
    margin-bottom: 20px;
    /* color: rgb(255, 255, 255); */
    text-shadow: 1px 1px 0.2px black;
    text-align: center;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stars i {
    color: #d3d1d1;
    font-size: 25px;
    align-items: center;
    /* justify-content: space-evenly; */
    text-shadow: 1px 1px 0.2px black;
    cursor: pointer;
}

.active1 {
    color: #fbc108 !important;
    transform: scale(1.2) !important;
}

.send-review-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.send-review-button button {
    background-color: #28a745;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.send-review-button button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.message {
    display: none;
    text-align: center;
    margin-top: 20px;
    /* color: #fff; */
    font-size: 20px;
    text-shadow: 1px 1px 0.2px black;
}

@media screen and (max-width: 400px) {
    .container-star{
        width: 80%;
        letter-spacing: 2px;
    }
}

.gallery-img {
    height: 370px;
    display: block;
    margin: 10px;
    border-radius: 30px;
}

.gallery-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    border-radius: 30px;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.selector {
    border: solid 1x black;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    margin: 2px;
}

.button-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1100px) and (min-width:700px) {
    .Successful-head h2{
        font-size: 25px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 10px 5px #a3a3a3;
        border: none;
        text-align: center;
    }

    .card {
        margin: 10px;
        width: 60%;
    }

    .gallery-card {
        flex-direction: column;
    }
}

@media screen and (max-width:700px) and (min-width:460px) {
    .Successful-head h2{
        font-size: 25px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 10px 5px #a3a3a3;
        border: none;
        text-align: center;
    }

    .card {
        margin: 10px;
        width: 80%;
    }

    .gallery-card {
        flex-direction: column;
    }

    .gallery-img {
        height: 550px;
    }
}

@media screen and (max-width:460px) and (min-width:340px) {
    .Successful-head h2{
        font-size: 25px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 98%;
    }

    .card-text {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }

    .gallery-card {
        flex-direction: column;
        width: 95%;
    }

    .gallery-img {
        height: 450px;
        width: 400px;
    }
}


@media screen and (max-width:340px) {
    .Successful-head h2{
        font-size: 25px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 98%;
    }

    .card-text {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }

    .gallery-card {
        flex-direction: column;
        width: 99%;
    }

    .gallery-img {
        height: 100px;
    }

    .counter-img {
        height: 50px;
    }

    .intro-text {
        font-size: 12px;
    }

    .work-img {
        height: 50px;
        width: 50px;
    }
}

.gallery-card {
    display: flex;
}

.parent-head h2 {
    text-align: center;
    color: #7b0323;
    font-size: 30px;
    font-weight: 700;
}

.gallery-card {
    background-color: #ededed;
    padding: 60px;
}

.active-1 {
    color: #ffb175 !important;
    transform: scale(1.2) !important;
}
.Successful-head h2{
    width: 560px;
    padding-bottom: 10px;
    margin: 40px auto;
    color: #7f248d;
    font-weight: 800;
    font-size: 38px;
    border-bottom: 3px solid #1082ce;
}
/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .Successful-head h2 {
        font-size: 32px;
        max-width: 90%;
    }
}

/* Media Query for even smaller screens */
@media only screen and (max-width: 576px) {
    .Successful-head h2 {
        font-size: 28px;
    }
}