.slider-container {
    margin: 10px 0;
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px); 
    position: absolute;
    top: 0;
    left: 0;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.slider-text h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 0;
}

.slider-text p {
    font-size: 1.2em;
    
}


.slider-container img {
    display: none;
}


.slider-container img:first-child {
    display: block;
}

.boxes-container {
    display: flex;
    margin: 20px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px; 
}

.box {
    width: calc(33.33% - 10px); 
    height: 300px; 
    /* background-color: #ccc;  */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 30px; 
    box-sizing: border-box;
    background-color: #f3f2f3;
    border-radius: 30px;
}
.box-content h2{
    
    text-align: center;
    margin: 8px 0;
}

.box:hover{
    background-color: blueviolet;
    color: #fff;
    transition: 0.9s;
}

/* .box-1{
    background-color: #fbc108;
}
.box-2{
    background-color: #7f248d;
}
.box-3{
    background-color: #40b93c;
} */









/* Responsive styles */
@media (max-width: 768px) {
    .box {
        width: calc(50% - 10px); /* Adjust margin according to your design */
    }
}

@media (max-width: 576px) {
    .box {
        width: 100%;
    }
}