.theme {
    margin-left: 10px;
    
}

.theme-img {
    height: 30px;
    background-color: white;
    padding: 0.5px;
    border-radius: 50%;
    cursor: pointer;
}

.theme-light{
    background-color: white;
}


.theme-dark{
    background-color: black;
    
}
.problem{
    height: 100px;
    width: 100px;
}
.imgdonor{
    width: 80%;
    margin: 10px;
    border-radius: 30px;
    border: #fbc108 solid 3px;
    opacity: 80%;
    padding: 5px;

}
.imgdonor:hover{
    box-shadow: #fbc108 0 0 3px 3px;
}
.accordion-item{
    border-radius: 15px;
    margin: 10px;
    border: 3px solid #fbc108;
}
.accordion-button{
    background-color:white;
    color:black;
    font-size: large;
}
    
.accordion-body{
    box-shadow: black 25px;
    background-color: rgba(211, 211, 211, 0.548);
}
.search-bar{
    width: 90%;
    height: 57px;
    margin: 20px 20px;
    color: black;
    text-align: center;
            
}

.inputs{
    background-color:whitesmoke;
    width: 60%;


}
.inputs:hover {
    background-color: rgba(211, 211, 211, 0.548);
}

.accordion-button:not(.collapsed) {
    background-color: white;
}
.searchbtn{
    margin-left: -20px;
    margin-bottom: 6.5px;
    width: 60px;
    height: 57px;
    color: white;
   background-color:  #fbc108;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img{
    display: flex;
    flex-wrap: wrap;
}

@media screen and(max-width: 1200px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
