.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 10px;
}

.card {
    box-shadow: 0 0 10px 5px #a3a3a3;
    border: none;
    text-align: center;
    width: 31%;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-size: 20px;
}


.work-img{
    height: 80px;
    width: 80px;
}

.button{
    padding: 10px 20px;
    border: none;
    background-color: #f1471d;
    color: white;
}

.button:hover{
    font-size: 20px;
    border: solid 1px black;
    color: #f1471d;
}
@media screen and (max-width:1100px) and (min-width:700px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 10px 5px #a3a3a3;
        border: none;
        text-align: center;
    }

    .card {
        margin: 10px;
        width: 60%;
    }

}

@media screen and (max-width:700px) and (min-width:460px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 10px 5px #a3a3a3;
        border: none;
        text-align: center;
    }

    .card {
        margin: 10px;
        width: 80%;
    }

    .gallery-card{
        flex-direction: column;
    }

    .gallery-img{
        height: 150px;
    }
}

@media screen and (max-width:460px) and (min-width:340px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 98%;
    }

    .card-text {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }
   


@media screen and (max-width:340px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 98%;
    }

    .card-text {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }

    .work-img{
        height: 50px;
        width: 50px;
    }
}
}