/* 
.login{
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
  
    margin: 15px 0;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .5);
    background-image: url(/images/volunteer/volunteer.jpg);
}
.main {
    width: 550px;
    display: block;
    margin: 20px auto;
    padding: 30px auto;
    text-align: center;
    background-color: white;
}

.First-Heading {
    color:  #7f248d;
    font-size: 30px;
   padding-top: 40px;
}

.Second-Heading {
    color: #fbc108;
    font-size: 20px;
    margin-top: 20px;
}

.usePass {
    width: 80%;
    height: 60px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px auto;
    border: 1px solid black;
}

.btn-login {
    width: 80%;
    height: 60px;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.para-info {
    margin: 30px auto;
    padding-bottom: 68px;
}

@media screen and (max-width: 768px) {
    .login{
        background-image: none;
    }
    .main {
        width: 90%;
    }
    .main-heading {
        font-size: 25px;
    }
    .First-Heading {
       font-size: 25px;
    }
    .Second-Heading {
        font-size: 23px;
    }
    .usePass {
        font-size: 15px;
        padding: 5px 5px;
        margin: 10px auto;
        height: 30px;
    }   
    .btn-login {
        width: 100px;
        height: 30px;
        font-size: 15px;
        padding: 5px 5px ;
       
    }
}  
.    */
.login-container{
    background-image: url(/images/volunteer/volunteer.jpg);
}
/* section {
    position: relative;
    z-index: 3;
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 90px 0;
  } */
  
  .contact-info img{
    height: 500px;
    width: 500px;
    filter: blur(3px); 
    border-radius: 10px;
    object-fit: cover;
  }
  .container {
    max-width: 1080px;
    /* margin: 90px 0; */
    margin-left: auto;
    padding: 100px 0;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section-header {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .section-header p {
    color: #FFF;
  }
  
  .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-info {
    width: 50%;
  }
  
  .contact-info-item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
  }
  .contact-info-icon-home{
    height: 70px;
    width: 95px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
  }
  .contact-info-icon-home i{
    font-size: 30px;
    line-height: 70px;
  }
  .contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-info-content {
    margin-left: 20px;
  }
  
  .contact-info-content h4 {
    color: #23b41e;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  
  .contact-info-content p {
    color: #FFF;
    font-size: 1em;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  .form-control{
    border: none;
  }
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .contact-form .input-box input[type="submit"]
  {
    width: 100%;
    background:#1b6d18;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #1b6d18;
    transition: 0.5s;
  }
  
  .contact-form .input-box input[type="submit"]:hover
  {
    background: #FFF;
    color:black;
  }
  
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-main {
    
    background-image: url(/images/volunteer/volunteer.jpg);
    
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    position: relative;
  }
  
 .contact-main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(79, 77, 77, 0.8);
  }
    
  .contact-form p a{
    text-decoration: none;
    color: #e91e63;
    font-weight: 700;
  }
  .contact-form p{
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .contact-info img {
      height: 300px;
      width: 100%;
      filter: blur(2px);
      border-radius: 10px;
      object-fit: cover;
    }
  
    .contact-form .input-box input,
    .contact-form .input-box textarea {
      font-size: 14px;
    }
  
    .contact-form .input-box input[type="submit"] {
      font-size: 16px;
      padding: 8px;
    }
  }