
.main-heading {
    text-align: center;
    color: #7f248d;
    margin: 10px auto;
}
.First-Heading {
    color: #1082ce;
}

.Second-Heading {
    color: #fbc108;
    font-size: 30px;
}
.registration{
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    margin: 45px 0;
    background: rgba(0, 0, 0, .5);
    background-image: url(/images/volunteer/volunteer.jpg);
}
.main-container{
    width: 570px;
    display: block;
    margin: 10px auto;
    padding: 10px auto;
    text-align: center;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    background-color: rgb(251, 250, 250);
}
.label-name{
    font-size: 20px;
    padding: 5px;
    display: block;
}
.input-name{
    width: 80%;
    font-size: 15px;
    padding: 2px 20px;
    margin: 0px auto;
    border-radius: 5px;
    border: 1px solid black;
}
.field{
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-registration{
    width: 80%;
    font-size: 20px;
    padding: 1px;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .registration{
        width: 100%;
    }
    .main-container {
        width: 90%;
    }
    .main-heading {
        font-size: 20px;
       margin-top: 20px;
    }
    .First-Heading {
       font-size: 20px;
    }
    .Second-Heading {
        font-size: 15px;
    }
    .label-name{
        font-size: 15px;
    }
    .input-name{
        font-size: 10px;
        width: 90%;
    }
    .field{
        height: 30px;
    }
    .btn-registration{
        width: 90%;
        font-size: 15px;
    }
}