
.First-Heading {
    color: #7f248d;
    font-size: 30px;
    padding-top: 20px;
}

.Second-Heading {
    color: #fbc108;
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.registration{
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, .5);
    background-image: url(/images/volunteer/volunteer.jpg);
}
.main-container{
    width: 600px;
    display: block;
    margin: 10px auto;
    padding: 10px auto;
    text-align: center;
    background-color: white;
}

.input-name{
    width: 80%;
    height: 50px;
    font-size: 15px;
    padding: 5px 20px;
    margin: 10px auto;
    border: 1px solid black;
}
.field{
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-registration{
    width: 80%;
    height: 50px;
    font-size: 20px;
    padding: 1px;
    margin: 10px;
}
@media screen and (max-width: 768px) {
    .registration{
        width: 100%;
        background-image: none;
    }
    .main-container {
        width: 90%;
    }
    .main-heading {
        font-size: 20px;
       margin-top: 20px;
    }
    .First-Heading {
       font-size: 20px;
    }
    .Second-Heading {
        font-size: 15px;
    }
    .input-name{
        font-size: 10px;
        width: 90%;
        height: 30px;
    }
    .field{
        height: 50px;
    }
    .btn-registration{
        width: 90%;
        font-size: 15px;
        height: 30px;
    }
}