body{
    margin: 0;
    padding: 0;
}

.nav-logo{
    height:60px;
    margin: 2px 1px;
}

.colour-red{
    color:#e91348;
}

.colour-orange{
    color: #f1471d;
}

.colour-purple{
    color: #7f248d;
}

.colour-blue{
    color: #1082ce;
}

.colour-green{
    color:#40b93c;
}

.colour-yellow{
    color: #fbc108;
}

.section-colour{
    background-color: #eef5f9;
}

.team {
    position: relative;
    width: 100%;
    padding: 50px 0 50px 0;
    height: 500px;
}

.team .team-item {
    position: relative;
    margin-bottom: 35px;
}

.team .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-img img {
    width: 100%;
    transform: scale(1.1);
    margin-bottom: -15px;
    transition: .3s;
}

.team .team-item:hover img {
    margin: -15px 0 0 0;
}

.team .team-text {
    position: absolute;
    width: calc(100% - 40px);
    height: 96px;
    bottom: 0;
    left: 20px;
    padding: 22px 0;
    text-align: center;
    background: #ffffff;
    transition: .3s;
    overflow: hidden;
}

.team .team-text h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.team .team-text p {
    margin-bottom: 20px;
}

.team .team-social {
    position: relative;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    color: #4a4c70;
    border: 2px solid #FDBE33;
    transition: .3s;
}

.team .team-social a:hover {
    color: #20212B;
    background: #FDBE33;
}

.team .team-item:hover .team-text {
    height: 160px;
}



