body{
    margin: 0;
    padding: 0;
}

.nav-logo{
    height:60px;
    margin: 2px 1px;
}

.colour-red{
    color:#e91348;
}

.colour-orange{
    color: #f1471d;
}

.colour-purple{
    color: #7f248d;
}

.colour-blue{
    color: #1082ce;
}

.colour-green{
    color:#40b93c;
}

.colour-yellow{
    color: #fbc108;
}



