.container1{
    display: flex;
    justify-content: space-between;
}
.ss {
    position: relative;
    margin-left: 3%;
    margin-bottom: 35%;
    margin-right: 0%;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #4a4c70;
}
.text-container {
    margin-left:50%; /* Add some spacing between slideshow and text */
    text-align: left;
    
}
.text{
    margin-top: 17%;
}
.text2{
    color: #1082ce;
}
.text-container h2{
    color: #7f248d;
}
.text-container p{
    font-size: larger;
    color: #000000;
    margin-right: 5%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
 
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(127, 36, 141, 0.3); /* lighter shade of #7f248d */
    overflow: hidden;
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(127, 36, 141, 0.3); /* lighter shade of #7f248d */
}
.card h2 {
    color:#1082ce;
}

.card p {
    color: #000000;
}
.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-left:38%;
}
.learn-more {
    background-color: #ffffff;;
    color: #13632e;
    border: 2px solid #13632e;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}
.learn-more:hover {
    background-color: #13632e; /* darker shade for hover effect */
    color: #fff;
}
.expanded {
    transform: scale(1.1);
    z-index: 1;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.expanded-text {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}
.expanded-text h2{
    color: #f1471d;;
}
.expanded-text p{
    color: #000000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/******** Volunteer CSS ********/
/*******************************/
.volunteer {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: rgba(0, 0, 0, .5);
    background-image: url(../images/volunteer/volunteer.jpg);
}

.volunteer .volunteer-content {
    padding: 30px 0 45px 0;
}

.container .volunteer {
    margin: 90px 0;
}

.container .volunteer .volunteer-content {
    padding: 45px 30px 15px 30px;
}

.volunteer .volunteer-content .section-header {
    margin-bottom: 30px;
}

.volunteer .volunteer-content .section-header h2 {
    color: #ffffff;
}

.volunteer .volunteer-text p {
    color: #ffffff;
    font-size: 18px;
}

.volunteer .volunteer-form {
    padding: 90px 30px;
    background: #FDBE33;
}

.volunteer .volunteer-form .control-group {
    margin-bottom: 15px;
}

.volunteer .volunteer-form .form-control {
    height: 60px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ffffff;
    background: transparent;
}

.volunteer .volunteer-form textarea.form-control {
    height: 120px;
    padding: 15px;
}

.volunteer .volunteer-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.volunteer .volunteer-form .form-control:-ms-input-placeholder,
.volunteer .volunteer-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom:hover {
    color: #FDBE33;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}
.section-header p{
    font-size: xx-large;
    font-weight: 500;
    color: #ffffff;
}
.benefits{
    color: #7f248d;
    font-size: xx-large;
    margin-left: 36%;
}